#header {
    background-color: #272727;
    height: 10%;
    width: 100%;
    font-family: 'bgMed',arial,helvetica,sans-serif;
}

#site-content {
    bottom: 0;
    height: 80%;
    margin-top: 20px;
}

#footer {
    background-color: #272727;
    bottom: 0;
    height: 10%;
    width: 100%;
    font-family: 'bgMed',arial,helvetica,sans-serif;
    /*position: absolute;*/
}

#sidemenu {
    border-bottom: solid;
}

table {
    color: #333; /* Lighten up font color */
    width: 640px; /* Make table wider */
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    width: 100%;
    position: relative;
}