#header {
    background-color: #272727;
    height: 10%;
    width: 100%;
    font-family: 'bgMed',arial,helvetica,sans-serif;
}

#site-content {
    bottom: 0;
    height: 76%;
    margin-top: 30px;
    overflow: scroll;
}

#footer {
    background-color: #272727;
    bottom: 0;
    height: 10%;
    width: 100%;
    font-family: 'bgMed',arial,helvetica,sans-serif;
    /*position: absolute;*/
}

#sidemenu {
    border-right: solid;
    width: 20%;
    height: 79%;
    float: left;
    margin-right: 30px;
}

table {
    color: #333; /* Lighten up font color */
    width: 640px; /* Make table wider */
    border-collapse: collapse;
    border-spacing: 0;
}

#movieTable {
    overflow: auto;
    height: 90%
}

body {
    width: 100%;
    position: relative;
}

#sidemenu #menu {
    list-style-type: none;
}

#sidemenu #menu li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
}


/*successfull message*/
.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin-top: 10px;
    margin-left: 23%;
    margin-right: 48%;
    padding: 15px 10px 15px 50px;
    background-position: 10px center;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}


/*
====================== Table highlighted
*/

@keyframes highlight {
 	0% {
 		background: #ffff99; /* lovely yellow colour */
 	}
 	100% {
 		background: none;
 	}
}

.highlight {
    animation: highlight 4s;
}


#addImdbMovie {
    margin-top: -196px;
    margin-left: 10px;
}

#imdbMovieAdded {

}